<%- include("./partials/navbar"); %>
<section class="gallery" id="gallery">

        <h1 class="heading">
            <span>g</span>
            <span>a</span>
            <span>l</span>
            <span>l</span>
            <span>e</span>
            <span>r</span>
            <span>y</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/g-1.jpg" alt="">
                <div class="content">
                    <h3>Thailand</h3>
                    <p>Thailand is a Southeast Asian country. It's known for tropical beaches, opulent royal palaces and ornate temples displaying figures of Buddha.</p>
                    <a href="https://www.google.com/search?q=thailand+koh+nang+yuan&hl=en&sxsrf=ALeKk02mZkPfLP8x--GWwHRULJswhc6upg:1625029034523&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiBo-jyyL7xAhUFH7cAHcWUDX0Q_AUoAnoECAEQBA&biw=1366&bih=625" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-2.jpg" alt="">
                <div class="content">
                    <h3>Mauritius</h3>
                    <p>Mauritius, an Indian Ocean island nation, is known for its beaches, lagoons.</p>
                    <a href="https://www.google.com/search?q=beach+mauritius&tbm=isch&hl=en&chips=q:beach+mauritius,g_1:island:WHxI-YQumH0%3D&sa=X&ved=2ahUKEwiVjunlxb7xAhUPV30KHRPzCFgQ4lYoBHoECAEQIA&biw=1349&bih=625" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-3.jpg" alt="">
                <div class="content">
                    <h3>Greece</h3>
                    <p> Greece is a country in southeastern Europe. Athens, its capital, retains landmarks. Acropolis citadel with the Parthenon temple. Greece is also known for its beaches. </p>
                    <a href="https://www.google.com/search?q=greece+attractions&tbm=isch&hl=en&chips=q:greece+attractions,g_1:athens:ygww1QdDhsA%3D&sa=X&ved=2ahUKEwjy4rPSx77xAhUHFSsKHVxHDw4Q4lYoAHoECAEQGA&biw=1349&bih=625" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-4.jpg" alt="">
                <div class="content">
                    <h3>Japan</h3>
                    <p>Japan is an island country in East Asia, located in the northwest Pacific Ocean.</p>
                    <a href="https://www.google.com/search?q=japan+tourism&tbm=isch&hl=en&chips=q:japan+tourism,g_1:tokyo:rOjlxPL1WTA%3D,online_chips:travel:6QgcZjnh6eQ%3D,online_chips:sightseeing:US9I26UXZY4%3D,online_chips:spots:K46PFd7pHRo%3D&sa=X&ved=2ahUKEwjd5IaQxb7xAhUGdysKHc15DE8Q4lYoAnoECAEQIw&biw=1349&bih=625"
                        class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-5.jpg" alt="">
                <div class="content">
                    <h3>Italy</h3>
                    <p>Italy, a European country with a long Mediterranean coastline, has left a powerful mark on Western culture and cuisine. Its capital, Rome, is home to the Vatican as well as landmark art.
                    </p>
                    <a href="https://www.google.com/search?q=italy&tbm=isch&hl=en&chips=q:italy,g_1:travel:rJHBNGMbBLg%3D&sa=X&ved=2ahUKEwiI-Z7kyb7xAhXBlEsFHU5ADp8Q4lYoEHoECAEQOA&biw=1349&bih=625" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-6.jpg" alt="">
                <div class="content">
                    <h3>Mumbai</h3>
                    <p>Mumbai (formerly called Bombay) is a densely populated city on India’s west coast. A financial center, it's India's largest city. </p>
                    <a href="https://www.google.com/search?q=Mumbai&tbm=isch&hl=en&chips=q:mumbai,online_chips:sunset:F9jb1lLasX4%3D,g_1:beach:JfAHLugqonU%3D,online_chips:versova+beach:sltNjFjgXpY%3D,online_chips:sea:OIbVU-BEqIA%3D&sa=X&ved=2ahUKEwiX0Y_nyr7xAhXOTX0KHbp-C2YQ4lYoBXoECAEQKQ&biw=1349&bih=625"
                        class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-7.jpg" alt="">
                <div class="content">
                    <h3>Gujarat</h3>
                    <p>. The Rann of Kutch is a seasonally marshy saline clay desert in the Thar Desert biogeographic region between the Pakistani province of Sindh and the rest of the state of Gujarat.</p>
                    <a href="https://www.google.com/search?q=gujarat+hot+air+balloon+in+rann+utsav&tbm=isch&hl=en&chips=q:gujarat+hot+air+balloon+in+rann+utsav,online_chips:bhuj:ngDQ7c_fRec%3D,online_chips:dhordo:VaoH8m6v_Os%3D&sa=X&ved=2ahUKEwiNtrqYzL7xAhWWBHIKHUC_BAsQ4lYoCXoECAEQLQ&biw=1349&bih=625"
                        class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-9.jpg" alt="">
                <div class="content">
                    <h3>Egypt</h3>
                    <p>Egypt, a country linking northeast Africa with the Middle East, dates to the time of the pharaohs.The capital, Cairo, is home to Ottoman landmarks like Muhammad Ali Mosque and the Egyptian Museum, a trove of antiquities. </p>
                    <a href="https://www.google.com/search?q=egypt+tourist+attractions&hl=en&sxsrf=ALeKk02q9zRB6WEAgAopyJeqG7Xo7zmiAg:1625029694482&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjI_MCty77xAhVEjuYKHQaqCosQ_AUoAnoECAEQBA&biw=1366&bih=625" class="btn">see more</a>
                </div>
            </div>
            <div class="box">
                <img src="images/g-8.jpg" alt="">
                <div class="content">
                    <h3>& Many more</h3>
                    <a href="https://www.google.com/search?q=beautiful+places&sxsrf=ALeKk03dEXrs4YwTNQQ4ZWHy8w4qZ_MhGg:1625030679028&source=lnms&tbm=isch&sa=X&ved=2ahUKEwitgv2Cz77xAhUzmeYKHYO9BMUQ_AUoAXoECAEQAw&biw=1366&bih=625" class="btn">see more</a>
                </div>
            </div>

        </div>

    </section>

    <!-- gallery section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>