<%- include("./partials/navbar"); %>
<section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/p-1.jpg" alt="">
                <div class="content">
                    <h3> Mumbai </h3>
                    <p>Mumbai’s most iconic monument, the Gateway of India is a great historical monument built during the British rule in the country. </p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/p-2.jpg" alt="">
                <div class="content">
                    <h3> Hawaii </h3>
                    <p>Hawaii is known for its beautiful beaches—some of them with unusual colors. Many beaches are filled with white sand, but other Hawaiian shores are covered with green, red, pink, and even black sand.</p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/p-3.jpg" alt="">
                <div class="content">
                    <h3> Sydney </h3>
                    <p>Sydney is famous for Sydney's Opera House, the Sydney Harbour Bridge, the Sydney Mardi Gras, Royal Botanical Gardens, Luna Park, the beaches and Sydney Tower.</p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/p-4.jpg" alt="">
                <div class="content">
                    <h3> Paris </h3>
                    <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its
                        cafe culture.</p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/p-5.jpg" alt="">
                <div class="content">
                    <h3> Tokyo </h3>
                    <p>Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods.</p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/p-6.jpg" alt="">
                <div class="content">
                    <h3> Egypt </h3>
                    <p>Egypt, a country linking northeast Africa with the Middle East, dates to the time of the pharaohs. Millennia-old monuments sit along the fertile Nile River Valley, including Giza's colossal Pyramids.</p>
                    <div class="price"> $90.00 <span>$120.00</span> </div>
                    <a href="#" class="btn">book now</a>
                </div>
            </div>

        </div>

    </section>

    <!-- packages section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>