<%- include("./partials/navbar"); %>
<section class="review" id="review">

        <h1 class="heading">
            <span>r</span>
            <span>e</span>
            <span>v</span>
            <span>i</span>
            <span>e</span>
            <span>w</span>
        </h1>

        <div class="box">
            <img src="images/pic1.png" alt="">
            <h3>Jasmine</h3>
            <p>Options are limited, but clearly laid out for the buyer to see. One of the easier websites to navigate on mobile.</p>
        </div>


        <div class="box">
            <img src="images/pic2.png" alt="">
            <h3>Chirag</h3>
            <p>Nice to visit that website!</p>
        </div>


        <div class="box">
            <img src="images/pic4.png" alt="">
            <h3>Akshay</h3>
            <p>Best packages available for the Hawaii.</p>
        </div>

    </section>

    <!-- review section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>