<%- include("./partials/navbar"); %>
<section class="services" id="services">

        <h1 class="heading">
            <span>s</span>
            <span>e</span>
            <span>r</span>
            <span>v</span>
            <span>i</span>
            <span>c</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>Affordable Hotels</h3>
                <p>Get Great deals!</p>
            </div>
            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>Food & Drinks</h3>
                <p>Top class food quality</p>
            </div>
            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>Safety Guide</h3>
                <p>The Guide safely guide the whole tourist place. </p>
            </div>
            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>Around the World</h3>
                <p>Describe all the tourist places around the World.</p>
            </div>
            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>Fastest Travel</h3>
                <p>Provides fast travelling services.</p>
            </div>
            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>Adventures</h3>
                <p>Do something Adventures or Toofani!</p>
            </div>

        </div>

    </section>

    <!-- services section ends -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="js/script.js"></script>